<h3>Add Object Help</h3>

<p>Mouse over the <%= image_tag("tip_icon.gif", :size => '15x15' ) %> icon for details about each element in the form.</p>

<p>The following guides provide detailed instructions for adding objects and related tasks such as preparing manifest files.</p>
  <ul>
    <li><%= link_to("Adding Objects", :controller => 'help', :action => 'add_object') %></li>
    <li><%= link_to("Using a manifest", :controller => 'help', :action => 'manifest_guide') %></li>
    <li><%= link_to("Merritt and metadata", :controller => 'help', :action => 'metadata_guide') %></li>
    <li><%= link_to("Editing objects", :controller => 'help', :action => 'edit_objects') %></li>
    <li><%= link_to("Sample data", :controller => 'help', :action => 'samples') %></li>
  </ul>
  
