<h3>Help Topics</h3>
  <ul>
    <li><%= link_to("About Merritt", :controller => 'help', :action => 'about_merritt') %></li>
    <li><%= link_to("Adding Objects", :controller => 'help', :action => 'add_object') %></li>
    <li><%= link_to("Retrieving Objects", :controller => 'help', :action => 'retrieve_object') %></li>
    <li><%= link_to("Merritt and metadata", :controller => 'help', :action => 'metadata_guide') %></li>
    <li><%= link_to("Using a manifest", :controller => 'help', :action => 'manifest_guide') %></li>
    <li><%= link_to("Editing objects", :controller => 'help', :action => 'edit_objects') %></li>
    <li><%= link_to("Glossary", :controller => 'help', :action => 'glossary') %></li>
    <li><%= link_to("Sample data", :controller => 'help', :action => 'samples') %></li>
  </ul>

