<div class="grid_16">
	
	<%= render :partial => 'about_merritt' %>
	
	<%= render :partial => 'add_object' %>
	
	<%= render :partial => 'retrieve_object' %>
	
	<%= render :partial => 'metadata_guide' %>
	
	<%= render :partial => 'manifest_guide' %>
	
	<%= render :partial => 'edit_objects' %>
	
	<%= render :partial => 'glossary' %>
	
	<%= render :partial => 'samples' %>

</div>