<div class="grid_11">
  <div class="help">

	<%= render :partial => request[:action] %>

  </div>
</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
 
  
<h3>Page Contents</h3>
<ul>
  <li><a href="#why">Why Use A Manifest?</a></li>
  <li><a href="#macro">The Excel Macro</a></li>
  <li><a href="#workflow1">Workflow: A Single Object</a></li>
  <li><a href="#workflow2">Workflow: A Batch of Container Files</a></li>
  <li><a href="#workflow3">Workflow: A Batch of Single Files</a></li>
  <li><a href="#workflow4">Workflow: A Batch of Object Manifest Files</a></li>
  <li><a href="#object_manifest">The Object Manifest</a></li>
  <li><a href="#batch_manifest">The Batch Manifest</a></li>
  <li><a href="#text_tips">Tips for Creating Text-based Manifests</a></li>
  <li><a href="#considerations">Special Considerations</a></li>
  <li><a href="#optimizing">Optimizing the Macro: Create a Trusted Location (Optional for PC)</a></li>

</ul>




<h3>Sample Data and Files</h3>
<ul>
  <li><%= link_to("Object Manifest", "/samples/manifests/call911.checkm") %></li>
  <li><%= link_to("Batch Manifest: Container Files", "/samples/manifests/sampleBatchOfContainers.checkm") %></li>
  <li><%= link_to("Batch Manifest: Single Files", "/samples/manifests/sampleBatchOfSingleFiles.checkm") %></li>
  <li><%= link_to("Batch Manifest: Object Manifest Files", "/samples/sampleBatchoOfManifests.checkm") %></li>
  <li><%= link_to("Object Manifest", "/samples/manifests/sampleBatchoOfManifests.checkm") %></li>
  <li><%= link_to("Macros: merrittManifest.xls", "/docs/merrittManifest.xls") %></li>
  <li><%= link_to("ERC file: mrt-erc.txt", "/samples/object1/mrt-erc.txt") %></li>
  <li><%= link_to("Sample objects [zip]", "/samples/sampleObjects.zip") %></li>
</ul>

<%= render :partial => 'help_sidebar' %>

  
</div>