
<div class="grid_11">

 
<h2>Quick Overview</h2>
  <div class="breadcrumbs"><%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", :controller => 'collection', :action => 'index') %> &gt;
    <%= link_to("Help", :controller => 'help', :action => 'index') %> &gt;
    Editing Objects
   </div>

<br />
<p>This guide provides a general overview of the process of adding and retrieving digital objects with Merritt. </p> 

<h3>Adding Objects</h3>


<p>The <strong>Add Object</strong> screen allows you to submit digital objects one-by-one or in batches.  Single objects can be uploaded directly from your local drive.  Batches must be submitted via a manifest file, which you prepare and upload from your local drive.</p>
  
<p><%=image_tag("help/add_object.gif")%></p>


<p>The following is a brief description of the options for adding objects.  For any option involving a manifest, consult the detailed Using a Manifest guide.</p>

<dl>
  <dt>Single object: file</dt>
    <dd>Upload a single file from a local drive. 
  <dt>Single object: container</dt>
    <dd>Upload a .zip or .tar file from your local drive.  This container file may contain any number of component files or associated metadata files for a single object.
  <dt>Single object: manifest</dt>
    <dd>As an alternative to wrapping a multi-file object in a .zip or .tar file, you can also create a .checkm format text manifest to upload the object.  You will need to post all component files for the object on a web server, then upload a manifest file that points to the object components.  This option allows you to provide and validate checksum information for each file in an object.  Details are provided in the Using a Manifest guide.
  <dt>Batch: of files</dt>
    <dd>Use this option when you have a long list of simple, one –file objects to add.  You can provide metadata for each object in the manifest.
  <dt>Batch: of containers</dt>
    <dd>Use this option when you have many complex objects to add and you have enclosed each object in a .zip or .tar file.
  <dt>Batch: of object manifests</dt>
    <dd>Use this option if you have prepared object manifests for a large number of objects.
</dl>



<p><%=image_tag("help/manifest_decision_table.gif")%></p>


<p>When you add an object you will receive a confirmation screen with a batch ID number.  This screen confirms that the object has been submitted, but does not yet confirm that the object has been successfully ingested.  Merritt takes a number of steps (such as fixity checking ) before an object is ingested.  In most cases it will take a couple of minutes for the object to become visible in the list of objects in your collection and searchable.</p>
    
<p>You will receive an email with a confirmation when the object has either been successfully added or an error message if the object fails to ingest.  The reason for any failure will be provided in the email message; you can contact uc3@ucop.edu if you have any questions.</p>
  
<p>Merritt allows you to provide title, creator, date and local identifier metadata either by filling out the Optional Description form, or by providing metadata in a manifest file, or by submitting an mrt-erc.txt file with the object.  The metadata you provide becomes immediately searchable in Merritt; we strongly recommend that you provide at least title information.  Further details are in the Merritt and Metadata guide.</p>


<h3>Retrieving Objects</h3>



<p>If you used the Merritt metadata options to provide a title, creator, date or local identifier, you will be able to search within the collection for any of those terms.  Terms typed in the search box will be found in any of these fields, as well as in the primary identifier assigned by Merritt.</p>
  
<p>The <strong>Display Object</strong> screen shows the complete metadata provided by the curator as well as system-generated metadata such as primary identifier, file size, date added (created) and date last modified.</p>

<p><%=image_tag("help/display_object.gif")%></p>


<p>If there are multiple versions of an object, information about the most recent version will display on the <strong>Display Object</strong> page.</p>
  
<p>If there are multiple component files for the object, up to four of them will be listed in the right sidebar.  Clicking on an object file will open the file.</p>

<p>If there are multiple versions of the object, a link to each version will be available in the right sidebar.  The <strong>Display Version</strong> page, which will provide links to every component file for the object.</p>
  
<p>The <strong>Download Object</strong> button on the <strong>Display Object</strong> page will download a .zip file including every version of the object.</p>
  
<p>The <strong>Display Version</strong> screen provides links to each component file you supplied for the object, along with system-derived metadata.</p>

<p><%=image_tag("help/display_version.gif")%></p>


<p>The <strong>Display Version</strong> screen also provides access to the files that Merritt generates to facilitate object management.</p>
  
<p>The <strong>Download Version</strong> button will provide you with a .zip file of the version you are viewing.  The download will include the system files Merritt generated. </p>
 




</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  
  <%= render :partial => 'help_sidebar' %>
  
</div>




</body>
</html>