<%# the following must be passed in
    obj = metadata obj %>

<div class="key">permanent link:</div>
<div class="value"><%= link_to(obj.permalink, obj.permalink) %></div>


<div class="key">primary identifier:</div>
<div class="value"><%= obj.identifier %></div>

<div class="key">title:</div>
<div class="value"><%= dc_nice(obj.what) %>&nbsp;</div>

<div class="key">creator:</div>
<div class="value"><%= dc_nice(obj.who) %>&nbsp;</div>

<div class="key">date:</div>
<div class="value"><%= dc_nice(obj.when) %>&nbsp;</div>

<div class="key">local id:</div>
<div class="value"><%= obj.local_identifier %>&nbsp;</div>

<div class="key">last modified:</div>
<div class="value"><%= merritt_time(obj.modified) %></div>

<div class="key">created:</div>
<div class="value"><%= merritt_time(obj.versions[0][RDF::DC.created].to_s) %></div>

<div class="key">total size <span style="font-weight: normal">(all versions)</span>:</div>
<div class="value"><%= number_to_storage_size(obj.total_actual_size) %></div>

<div class="key">total versions:</div>
<div class="value"><%= obj.versions.length %></div>

<div class="clear"></div>
