<%# takes :obj passed in as local variable %>

<% if !obj.who.blank? and !obj.who.match(/\(:unas\)/) and !obj.who.empty? and !obj.who.nil?  then %>
  <%= dc_nice(obj.who) %>
  <%= "." %>
<% end %>

<% if !obj.what.blank? then %>
  <span class="title"><%= dc_nice(obj.what) %></span>
<% end %>

<% if !obj.when.blank? and !obj.who.match(/\(:unas\)/) and !obj.who.empty? and !obj.who.nil? then %>
  <%= "(" %>
  <%= dc_nice(obj.when) %>
  <%= ")" %>
<% end %>
