<div class="grid_11">
  <h2>Add Object</h2>
  <div class="breadcrumbs">
    <%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", :controller => 'collection', :action => 'index', :group => @group.id) %>
    &gt; Add Object
  </div>
  <br/>
  <% if flash[:error] then %>
    <p class="dynamic_message"><%=flash[:error]%></p>
  <% end %>
  <p>Upload objects directly from your local drive or submit a manifest to add objects posted on a web server.</p>
  <h3>Object info</h3>
  <%= form_tag({:action => :upload}, :multipart => true) do %>

    <div class="left_label">
      <label for="file">File:</label>
    </div>
    <div class="right_field">
      <%=file_field_tag("file")%>
    </div>
  <br/><br/>

  <div class="left_label">
    <label for="object_type">Single object:</label>
  </div>
  <div class="option_container">
    <div class="short_option">
      <%= radio_button_tag('object_type', 'file', 'true', {:onclick => 'enable_meta();'}) %> file
    </div>
    <div class="short_option_description">
      <a href="#" id="file_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
    </div>

    <div class="clear" style="width:100%;"></div>
    <div class="short_option">
      <%= radio_button_tag('object_type', 'container', nil, {:onclick => 'enable_meta();'}) %> container
    </div>
    <div class="short_option_description">
      <a href="#" id="container_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
    </div>

    <div class="clear" style="width:100%;"></div>
    <div class="short_option">
      <%= radio_button_tag('object_type', 'object-manifest', nil, {:onclick => 'enable_meta();'}) %> manifest
    </div>
    <div class="short_option_description">
      <a href="#" id="object_manifest_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
    </div>
  </div>
  <div class="clear"></div>&nbsp;
  <div class="clear"></div>
  <div class="left_label">
    Batch:
  </div>
  <div class="option_container">
    <div class="short_option">
      <%= radio_button_tag('object_type', 'single-file-batch-manifest', nil, {:onclick => 'disable_meta();'}) %> of files
    </div>
    <div class="short_option_description">
      <a href="#" id="single_file_batch_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
    </div>

    <div class="clear" style="width:100%;"></div>
    <div class="short_option">
      <%= radio_button_tag('object_type', 'container-batch-manifest', nil, {:onclick => 'disable_meta();'}) %> of containers
    </div>
    <div class="short_option_description">
      <a href="#" id="container_batch_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
    </div>

    <div class="clear" style="width:100%;"></div>
    <div class="short_option">
      <%= radio_button_tag('object_type', 'batch-manifest', nil, {:onclick => 'disable_meta();'}) %> of manifests
    </div>
    <div class="short_option_description">
      <a href="#" id="batch_manifest_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
    </div>
  </div>
  <div class="clear"></div>
  <h3>Optional description:</h3>
  <p>You will be able to search by the following fields:</p>

  <div class="left_label">Title:</div>
  <div class="right_field">
    <%= text_field_tag('title', nil, :size => 30)  %>
  </div>
    <div class="short_text_description">
    <a href="#" id="title_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
  </div>

  <div class="left_label">Creator:</div>
  <div class="right_field">
    <%= text_field_tag('author', nil, :size => 30)  %>
  </div>
  <div class="short_text_description">
    <a href="#" id="author_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
  </div>

  <div class="left_label">Date:</div>
  <div class="right_field">
    <%= text_field_tag('date', nil, :size => 30)  %>
  </div>
  <div class="short_text_description">
    <a href="#" id="date_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
  </div>

  <div class="left_label">Local ID:</div>
  <div class="right_field">
    <%= text_field_tag('local_id', nil, :size => 30)  %>
  </div>
  <div class="short_text_description">
    <a href="#" id="local_id_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
  </div>

  <!--
  <div class="left_label">Curatorial note:</div>
  <div class="right_field">
    <%= text_area_tag('note', nil, :size => "30x5")  %>
  </div>
  <div class="short_text_description">
    <a href="#" id="note_tip"><%= image_tag("tip_icon.gif", :size => '15x15' ) %></a>
  </div>
  -->
  <div class="clear"></div>
  <div class="left_label">&nbsp;</div>
  <div class="right_area">
    <%= hidden_field_tag('group', params[:group]) %>
    <%= submit_tag("Submit") %>
  </div>

  <% end #form_tag
  %>

  
</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %>
  <%= render :partial => '/help/add' %>
  
</div>

<script type="text/javascript">
  new Tip('file_tip', 'Use if your object is only comprised of one file.');
  new Tip('container_tip', 'Use if your object is bundled as a container such as a zip or tar file.');
  new Tip('object_manifest_tip', 'Use if you have created a manifest that specifies all the files that make up your object.');
  new Tip('single_file_batch_tip', 'Every file specified in the manifest will be part of a separate object.');
  new Tip('container_batch_tip', 'The manifest specifies container files (such as zip or tar files), each of which will have its contents imported as a separate object.');
  new Tip('batch_manifest_tip', 'The manifest specifies object manifests, each of which will comprise a separate object');
  new Tip('title_tip', 'We strongly recommend that you provide at least a title.');
  new Tip('author_tip', 'Author or creator of the object.');
  new Tip('date_tip', 'Publicaton date of object.');
  new Tip('local_id_tip', 'An identifier you already use to track the object.');
  // new Tip('note_tip', 'In case you forget what is happening.');

  function disable_meta(){
    document.getElementById('title').disabled = true;
    document.getElementById('author').disabled = true;
    document.getElementById('date').disabled = true;
    document.getElementById('local_id').disabled = true;
  }

  function enable_meta(){
    document.getElementById('title').disabled = false;
    document.getElementById('author').disabled = false;
    document.getElementById('date').disabled = false;
    document.getElementById('local_id').disabled = false;
  }
</script>

