<% content_for :title do %>
  UC3 Merritt: Add Object
<% end %>
<%= javascript_include_tag 'wztip/wz_tooltip.js' %>

<main>
  <section>
    <h2>Add Object</h2>

    <div class="breadcrumbs">
      <%= link_to('Merritt', controller: 'home', action: 'index') %> &gt;
      <%= link_to(
              "Collection: #{current_group.description}",
              controller: 'collection',
              action: 'index',
              group: current_group.id)
      %> &gt;
      Add Object
    </div>

    <% if flash[:error] %>
      <p class="dynamic_message"><%= flash[:error] %></p>
    <% end %>

    <p>
      Upload objects directly from your local drive or submit a manifest to add objects
      posted on a web server.
    </p>

    <%= form_tag({action: :upload}, multipart: true) do %>
      <h3>Object info</h3>

      <table class="properties">
        <tbody>
        <tr>
          <th><label for="file">File:</label></th>
          <td><%= file_field_tag("file") %></td>
        </tr>
        </tbody>
      </table>

      <h3>Optional description:</h3>

      <p>You will be able to search by the following fields:</p>

      <table class="properties">
        <tbody>
        <tr>
          <th>Title:</th>
          <td>
            <%= text_field_tag('title', nil, :size => 30) %>
            <%= help_tip('We strongly recommend that you provide at least a title.') %>
          </td>
        </tr>

        <tr>
          <th>Creator:</th>
          <td>
            <%= text_field_tag('author', nil, :size => 30) %>
            <%= help_tip('Author or creator of the object.') %>
          </td>
        </tr>

        <tr>
          <th>Date:</th>
          <td>
            <%= text_field_tag('date', nil, :size => 30) %>
            <%= help_tip('Publication date of object') %>
          </td>
        </tr>

        <tr>
          <th>Local ID:</th>
          <td>
            <%= text_field_tag('local_id', nil, :size => 30) %>
            <%= help_tip('An existing identifier you use to track the object.') %>
          </td>
        </tr>

        <tr>
          <th>Primary ID:</th>
          <td>
            <%= text_field_tag('primary_id', nil, :size => 30) %>
            <%= help_tip('Most commonly used for updates, this is the previously assigned primary identifier.') %>
          </td>
        </tr>
        </tbody>
      </table>

      <%= hidden_field_tag('group', params[:group]) %>

      <div class="form-submit">
        <%= submit_tag("Submit") %>
      </div>
    <% end %>

  </section>

  <aside>
    <%= render(partial: '/shared/side_lookup') %>
    <%= render(partial: 'help_add') %>
    <%= render(partial: '/shared/help_sidebar') %>
  </aside>
</main>

<script type="text/javascript">
    function disable_meta() {
        document.getElementById('title').disabled = true;
        document.getElementById('author').disabled = true;
        document.getElementById('date').disabled = true;
        document.getElementById('local_id').disabled = true;
    }

    function enable_meta() {
        document.getElementById('title').disabled = false;
        document.getElementById('author').disabled = false;
        document.getElementById('date').disabled = false;
        document.getElementById('local_id').disabled = false;
    }

    function toggle_update() {
        if (document.getElementById('update_object').checked == true) {
            document.getElementById('primary_id').disabled = false;
            document.getElementById('object_type_single-file-batch-manifest').disabled = true;
            document.getElementById('object_type_container-batch-manifest').disabled = true;
            document.getElementById('object_type_batch-manifest').disabled = true;
            document.getElementById('batchy_files').style.color = '#999999';
            document.getElementById('batchy_containers').style.color = '#999999';
            document.getElementById('batchy_manifests').style.color = '#999999';
        } else {
            document.getElementById('primary_id').disabled = true;
            document.getElementById('object_type_single-file-batch-manifest').disabled = false;
            document.getElementById('object_type_container-batch-manifest').disabled = false;
            document.getElementById('object_type_batch-manifest').disabled = false;
            document.getElementById('batchy_files').style.color = '#000000';
            document.getElementById('batchy_containers').style.color = '#000000';
            document.getElementById('batchy_manifests').style.color = '#000000';
        }
    }
</script>
