<% content_for(:title) do %>
  Audit Replic for Object
<% end %>


  <main class="home" id="maincontent">
    <h1>Audit Replic Status for <%= @object.ark %></h1>
    <div>
      <table class="state">
        <caption>Statistics for <%= @datestr %></caption>
        <thead>
        <tr>
          <th>Title</th>
          <th>Total</th>
          <th>Completed</th>
          <th>Started</th>
          <th>Error</th>
        </tr>
        </thead>
        <tbody>
          <% @count_by_status.each do |row| %>
            <tr class="<%= row[0] %>">
              <th class="title"><%= row[1] %></th>
              <td class="total"><%= row[2] %></td>
              <td class="completed"><%= row[3] %></td>
              <td class="started"><%= row[4] %></td>
              <td class="error"><%= row[5] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>