<% content_for :title do %>
  UC3 Merritt: Object — <%= @object.ark %>
<% end %>

<main>
  <section>
    <h2 class='key'>Object: <%= @object.ark %></h2>
    <div class="breadcrumbs">
      <%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
      <%= link_to("Collection: #{@object.group.description}", :controller => 'collection', :action => 'index', :group => @object.group) %> &gt;
      Object: <%= @object.ark %>
    </div>

    <%= render :partial => '/shared/flash_show' %>

    <h3 class="object-title">
      <%= render :partial => "/object/short_bib_display", :object => @object %>
    </h3>

    <%= render :partial => 'details_display', :object => @object %>

    <div class="form-submit">
      <% if current_user_can_download?(@object) %>
        <% if @object.exceeds_download_size? %>
          <p>
            Objects larger than <%= max_download_size_pretty %> cannot be downloaded as a .zip file.
            Versions and individual files below that size can still be downloaded.
          </p>
        <% else %>
          <%= form_tag({action: :presign, object: @object}, remote: true, method: 'GET', id: 'button_presign_obj', dataType: 'json') do %>
            <%= submit_tag "Download object" %>
          <% end %>
        <% end %>
      <% else %>
        <p>
          You do not have permission to download this object.
        </p>
      <% end %>
    </div>

  </section>

  <aside>
    <%= render(partial: '/shared/side_lookup') %>
    <%= render(partial: '/version/current_sidebar', object: @object.current_version) %>
    <% if @object.inv_versions.length > 1 %>
      <section>
        <h3>Prior Versions</h3>
        <%= render :partial => '/version/line_sidebar',
                   :collection => @object.inv_versions.reverse[1..-1],
                   :locals => {:can_download => current_user_can_download?(@object)} %>
        <br/>
      </section>
    <% end %>
  </aside>
</main>
