<% content_for :title do %>
  UC3 Merritt: Object -- <%= params[:object] %>
<% end %>

<div class="grid_11">
  <h2>Object: <%= @object.ark %></h2>
  <div class="breadcrumbs">

    <%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", :controller => 'collection', :action => 'index', :group => params[:group]) %> &gt;
    
    Object: <%= @object.ark %> 

  </div>
<br/>
  <%= render :partial => '/shared/flash_show' %>
  <h3 style="font-weight: normal;">
    <%= render :partial => "/object/short_bib_display", 
               :locals => {:obj => @object} %></h3>

    <%= render :partial => 'details_display',
               :locals => { :obj => @object } %>
  <div class="clear"></div>
  <div class="key">&nbsp;</div><div class="value">&nbsp;</div>
  <div class="key">&nbsp;</div>
  <div class="value">
    <% if have_permission('download') then %>
      <form action="/d/<%= @object.ark_urlencode %>">
        <input type="submit" value="Download object">
      </form>
    <% end %>
  </div>


</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %><br/>
  <%= render :partial => '/version/current_sidebar',
      :locals => {:version => @object.current_version} %><br/>
  <% if @object.versions.length > 1 then %>
    <%= render :partial => '/version/list_sidebar',
      :locals => {:versions => @object.versions.reverse[1..-1], :title => 'Prior Versions'} %><br/>
  <% end %>
</div>
