<% content_for :title do %>...<% end %>

<div class="container_16">
  <div class="grid_16">
    <h2 id="page-heading">DPR Dashboard (PROTOTYPE)</h2>
  </div>
  <div class="grid_4">
    <div class="box">
      <h2><a href="#" id="toggle-overview">Overview</a></h2>
      <div class="block" id="overview">
        <dt>object count</dt>
        <dd><%= @object_count %></dd>
        <dt>version count</dt>
        <dd><%= @version_count %></dd>
        <dt>file count</dt>
        <dd><%= @file_count %></dd>
        <dt>total size</dt>
        <dd><%= number_to_human_size(@total_size) %></dd>
      </div>
    </div>
  </div>
  <div class="grid_8">
    <div class="box">
      <h2><a href="#" id="toggle-recent">Recent objects</a></h2>
      <div class="block" id="recent">
        <ul>
          <% for info in @recent_objects %>
          <li><%= render :partial=>'show/short_object', :object => info %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
