<div class="grid_11">

  <h2>Large Object Compression Processing</h2>
  <p>The object or version you have selected is very large and will take some time otp orcess for download.</p>
  	
  <p>Please enter your email address so that you may be notified when compression is complete when the container file
  	is ready for download</p>
  <p>The notification email will provide a URL to the compressed container file available for download.</p>

  <br/>
  <% if !flash[:message].blank? then %>
    <p class="dynamic_message"><%= flash[:message] %></p>
  <% end %>
  
  <%= form_tag({:action => 'index'}, :class => 'indented_form') do%>


    <br/>
    <div class='short_left_label'>
      <%= label_tag('user_agent_email', '* Email: ') %>
      </div>
      <div class='long_right_field'>
      <%= text_field_tag('user_agent_email', params[:user_agent_email], :size => 50) %>
    </div>
    <div class="clear"></div><br/>

    <div class='short_left_label'>
      <span class="smaller">* Required</span>
    </div>

    <%= submit_tag('Submit') %>
    <%= submit_tag('Cancel', {:onClick => "window.close()"}) %>
    
  <% end%>

</div>
