<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>DUA <%= @hsh['title'] %></h1>
    <li>
      <ul>Name: <%= @hsh['name'] %> </ul>
      <ul>Affiliation: <%= @hsh['affiliation'] %> </ul>
     <ul>Email: <%= @hsh['email'] %> </ul> 
      <ul>Collection: <%= @hsh['collection'] %> </ul>
      <ul>Date: <%= Time.now.strftime("%Y-%m-%dd %H:%M:%S %:z") %> </ul>  <!-- yyyy-mm-dd hh:mm:ss±hh:mm -->
      <ul>Terms of Use:  </ul>
    </li>
    <p>    	
      <%= @hsh['body'].gsub("\n", '</p><p>') %>
    </p>
  </body>
</html>

