<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @hsh['title'] %></h1>
    <dl>
      <dt>Name: <%= @hsh['name'] %> </dt>
      <dt>Affiliation: <%= @hsh['affiliation'] %> </dt>
      <dt>Email: <%= @hsh['email'] %> </dt>
      <dt>Collection: <%= @hsh['collection'] %> </dt>
      <dt>Object: <%= @hsh['object'] %> </dt>
      <dt>Date: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S %z") %> </dt>       
      <dt>Terms of Use:  </dt>
    </dl>
    <p> <%= @hsh['body'].gsub("\n", '</p><p>') %>
    </p>
  </body>
</html>

