<% content_for :title do %>
  UC3 Merritt: Add User to Collection
<% end %>

<div class="grid_11">
  <h2>Add User to collection</h2>
  <div class="breadcrumbs"><%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    Add user to collection</div>
  <br/>
  <% if !@display_text.eql?('') then %>
    <p class="dynamic_message"><%=@display_text%></p>
  <% end %>

  <%= form_tag({:action => :add_user_to_group}) do %>
    <div class="left_label">Add User:</div>
    <div class="right_field">
      
    </div>
    <div class="clear"></div>

    <div class="left_label">To Collection:</div>
    <div class="right_field">
      
    </div>
    <div class="clear"></div>

    <div class="left_label">With Permissions:</div>
    <div class="right_field">
    </div>
    <div class="clear"></div>

    <div class="left_label">&nbsp;</div>
    <div class="right_field">
      <%= submit_tag %><input type="button" name="reset_form" value="Reset Form" onclick="this.form.reset();"/>
    </div>
    <div class="clear"></div>
  <% end %>

</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %><br/>
  <%# render :partial => 'overview' %><br/>

</div>