<% content_for :title do %>
  UC3 Merritt: Create Collection
<% end %>

<div class="grid_11">
  <h2>Create Collection</h2>
  <div class="breadcrumbs"><%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    Create collection</div>
  <br/>
  <% if !@display_text.eql?('') then %>
    <p class="dynamic_message"><%=@display_text%></p>
  <% end %>

  <%= form_tag({:action => :create_group}) do %>
    <div class="left_label">*Collection ID (start ID with &quot;demo_&quot; if demo):</div>
    <div class="right_field">
      <%= text_field_tag('ou', @ldap_group['ou'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">*Description:</div>
    <div class="right_field">
      <%= text_field_tag('description', @ldap_group['description'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">*Ingest Profile ID (often the same as Collection ID):</div>
    <div class="right_field">
      <%= text_field_tag('submissionprofile', @ldap_group['submissionprofile'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">&nbsp;</div>
    <div class="right_field">
      <%= submit_tag %><input type="button" name="reset_form" value="Reset Form" onclick="this.form.reset();"/>
    </div>
    <div class="clear"></div>
  <% end %>

</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %><br/>
  <%# render :partial => 'overview' %><br/>

</div>
