<% content_for :title do %>
  UC3 Merritt: Create User Account
<% end %>

<div class="grid_11">
  <%= render :partial => 'quick_nav' %>
  <h2>Create User Account</h2>
  <div class="breadcrumbs"><%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    Create user account</div>
  <br/>
  <% if !@display_text.eql?('') then %>
    <p class="dynamic_message"><%=@display_text%></p>
  <% end %>

  <%= form_tag({:action => :create_user}) do %>
    <div class="left_label">*First name:</div>
    <div class="right_field">
      <%= text_field_tag('givenname', @ldap_user['givenname'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">*Last name:</div>
    <div class="right_field">
      <%= text_field_tag('sn', @ldap_user['sn'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">*User id:</div>
    <div class="right_field">
      <%= text_field_tag('uid', @ldap_user['uid'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">*Password:</div>
    <div class="right_field">
      <%= password_field_tag('userpassword', '', :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">*Repeat Password:</div>
    <div class="right_field">
      <%= password_field_tag('repeatuserpassword', '', :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">*Email:</div>
    <div class="right_field">
      <%= text_field_tag('mail', @ldap_user['mail'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">Time zone:</div>
    <% zones = TZInfo::Timezone.all_country_zone_identifiers.sort
        zones = zones.map { |zone| [zone.gsub('_',' '), zone] }
    %>
    <div class="right_field">
      <%= select_tag('tzregion', options_for_select(zones, @ldap_user['tzregion'].to_s) ) %>
    </div>
    <div class="clear"></div>

    <div class="left_label">Phone:</div>
    <div class="right_field">
      <%= text_field_tag('telephonenumber', @ldap_user['telephonenumber'], :size => 30)  %>
    </div>
    <div class="clear"></div>

    <div class="left_label">Institution:</div>
    <% inst = Institution.find_all.map{|i| [ i['o'][0], i['dn'][0] ]}
    %>
    <div class="right_field">
      <%= select_tag('institution', options_for_select(inst, @ldap_user['institution'].to_s) ) %>
    </div>
    <div class="clear"></div>

    <div class="left_label">&nbsp;</div>
    <div class="right_field">
      <%= submit_tag %><input type="button" name="reset_form" value="Reset Form" onclick="this.form.reset();"/>
    </div>
    <div class="clear"></div>
  <% end %>
  
</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %><br/>
  <%# render :partial => 'overview' %><br/>

</div>

