<% unless env_str.blank? %>
  <p class="environment"><%= env_str %></p>
<% end %>
<div id="skip">
  <a class="skipnav" href="#maincontent">Skip to main content</a>
</div>
<header>
  <div class="masthead">
    <img class="ucop-logo" src="/images/logos/ucop-logo.svg" alt="University of California"/>
    <img class="ucop-logo-divider" src="/images/logos/ucop-logo-divider.svg" alt="|"/>
    <a href="/"><img class="merritt-logo" src="/images/logos/merritt-logo.svg" alt="Merritt Logo"/></a>
  </div>
  <% if user_logged_in? %>
    <nav class="menu">
      <input type="checkbox" id="nav-menu"/>
      <label class="nav-menu-label" for="nav-menu"><img src="/images/nav-menu.svg" alt="Menu"/></label>
      <ul>
        <li class="dropdown" id="user-dropdown">
          <span class="login-message">Logged in as <%= current_user_displayname %></span>
          <ul>
            <li  class='logout'><%= link_to('Logout', controller: 'user_sessions', action: 'logout') %></li>
            <%#  do not display Profile link for Guest user %>
            <% unless guest_logged_in? %>
              <li><%= link_to('Profile', params.merge(controller: 'user', action: 'update')) %></li>
            <% end %>
          </ul>
        </li>
        <% if session[:group_id] %>
          <li><%= link_to('Collection home', controller: 'collection', action: 'index', group: session[:group_id]) %></li>
          <% if current_user_can_write_to_collection? %>
            <li><%= link_to('Add object', controller: 'object', action: 'add', group: session[:group_id]) %></li>
          <% end %>
        <% end %>
        <li class="dropdown">
          <% choose_collection_text = session[:group_id] ? 'Change collection' : 'Home' %>
          <%= link_to(choose_collection_text, controller: 'home', action: 'choose_collection', group: session[:group_id]) %>
          <% unless available_groups.empty? %>
            <ul>
              <% available_groups.each do |grp| %>
                <li><%= link_to(grp[:description], controller: 'collection', action: 'index', group: grp[:id]) %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <li id='downloads'><a aria-role='button' href='#'>Downloads</a></li>
      </ul>
    </nav>
  <% else %>
    <% unless action_name == 'login' %>
    <nav class="login">
      <ul>
        <li><%= link_to('Login', controller: 'user_sessions', action: 'login') %></li>
      </ul>
    </nav>
    <% end %>
  <% end %>
</header>
