<div class="grid_10 head_left">
  <%=image_tag("logos/merritt_logo_sm.jpg", :style=>"margin-top:8px;margin-bottom:4px; float:left;")%>
  <div class="env_disp">
    <div><%=show_environment%></div>
  </div>
</div>
<div class="grid_6 head_right">
  <% if user_logged_in? then %>
    <%= link_to("Logout", :controller => 'user_sessions', :action => 'logout') %>
  <% else %>
    <%= link_to("Login", :controller => 'user_sessions', :action => 'login') %>
  <% end %>
  <!-- do not display Profile link for Guest user -->
  <% if !guest_logged_in? then %>
    | <%= link_to('Profile', params.merge({:controller => 'user', :action => 'update'}))  %>
  <% end %>
  | <a href="http://www.cdlib.org/services/uc3/contact.html">Contact UC3</a> | <%= link_to("Help", :controller => 'help', :action => 'index') %>
  <% if user_logged_in? then %>
    <br/>Logged in as <%= current_user_displayname %>
  <% end %>
</div>
<div class="clear"></div>
