<section class="lookup">
<% if owner_set? %>
  <h3><%= current_owner_name %> Lookup</h3>
  <%= form_tag({:controller => 'owner', :action => 'search_results'}, :method => :get) do %>
    <%= text_field_tag 'terms', params[:terms] %>
    <%= hidden_field_tag 'owner', current_owner_name %>
    <%= submit_tag('Go') %>

    <p>
      <label for="terms">Search object author, title, date, file name or identifier.</label>
    </p>
    <ul>
      <li>exact match on local identifier</li>
      <li>exact match on file name</li>
      <li>text search of metadata (title, author, date)</li>
    </ul>
  <% end %>
<% end %>
</section>
