<% content_for(:title) do %>
  UC3 Merritt Home
<% end %>

<% content_for(:extra_head) do %>
<!-- Merritt monitoring test code. Please do not remove this comment since
it will cause the monitoring scripts to fail.

 - served at <%= Time.new %>

 - monitoring string SwuV4tac

-->
<% end %>

<div class="home">
    <main class="home" id="maincontent">
    <section class="intro">
      <section>
        <%= image_tag 'logos/merritt-logo.svg', class: 'merritt-logo', alt: 'Merritt' %>
        <h1>Merritt: A trusted, cost-effective digital preservation repository</h1>
        <p>
          Merritt is an open-source digital preservation repository maintained by the University of
          California Curation Center (UC3) at the California Digital Library (CDL).
        </p>
        <p>
          Merritt is designed for both restricted access (also known as “dark archive”) and open public access to
          digital content. Merritt provides multiple methods for deposit, supports multiple metadata formats, and
          provides preservation functions and reporting.
        </p>
        <p>
          Merritt is available to all members of the University of California community to assist in
          managing, archiving, and/or sharing digital content.
        </p>
      </section>

      <aside>
        <h2>
          Merritt’s preservation repository ensures:
        </h2>
        <ul>
          <li>
            Long-term preservation assurance for your digital content
          </li>
          <li>
            Trusted repository support for both dark archives and retrieval copies
          </li>
          <li>
            Low-cost, high-quality option for meeting data sharing and preservation requirements of
            grant-funded projects
          </li>
        </ul>
      </aside>
    </section>

    <section class="feature" id="ie-learn-more">
      <h2>Learn More</h2>
      <p>
        Merritt can help you manage, preserve, and provide access to your digital content. Read more
        information about how Merritt works:
      </p>
      <p><a href="https://github.com/CDLUC3/mrt-doc/wiki/User-documentation">User Documentation</a></p>
      <p><a href="https://github.com/CDLUC3/mrt-doc/wiki/Technical-Documentation">Technical
          Documentation</a></p>
    </section>

    <section class="feature" id="ie-request-account">
      <h2>Request Account</h2>
      <p>
        Merritt is available for use by libraries, archives, museums, academic departments,
        laboratories, and other organizational units of the University of California.
      </p>
      <p>
        <a href="https://www.cdlib.org/services/uc3/contact.html">Contact us for an account</a>
      </p>
    </section>

    <section class="feature" id="ie-trusted-repository">
      <h2>Trusted Repository</h2>
      <a href="https://www.coretrustseal.org/why-certification/requirements/">
        <%= image_tag 'logos/cts-logo.svg', class: 'cts-logo', alt: 'CoreTrustSeal certification (PDF)' %>
      </a>
      <p>Merritt is a CoreTrustSeal-certified digital repository.</p>
      <p>
        <a href="https://www.coretrustseal.org/wp-content/uploads/2018/08/UC3-Merritt.pdf">Learn more about Merritt’s
        CoreTrustSeal certification</a>
      </p>
    </section>

    <section class="related-services">
      <h2>Related CDL Services</h2>

      <p>
        Merritt serves as the preservation repository for many library and archival projects across the University of
        California. This includes a number of products and services offered by California Digital Library (CDL) and
        University of California Curation Center (UC3).
      </p>

      <ul>
        <li id="ie-uc3-logo">
          <a href="https://uc3.cdlib.org/">
            <%= image_tag 'logos/uc3-logo.svg', class: 'service-logo', alt: 'UC Curation Center logo' %>
          </a>
        </li>
        <li id="ie-calisphere-logo">
          <a href="https://calisphere.org/">
            <%= image_tag 'logos/calisphere-logo.svg', class: 'service-logo', alt: 'Calisphere logo' %>
          </a>
        </li>
        <li id="ie-cdl-logo">
          <a href="https://www.cdlib.org/">
            <%= image_tag 'logos/cdl-logo.svg', class: 'service-logo', alt: 'California Digital Library logo' %>
          </a>
        </li>
        <li id="ie-ezid-logo">
          <a href="https://ezid.cdlib.org/">
            <%= image_tag 'logos/ezid-logo.svg', class: 'service-logo', alt: 'EZID logo' %>
          </a>
        </li>
        <li id="ie-dryad-logo">
          <a href="https://datadryad.org/">
            <%= image_tag 'logos/dryad-logo.svg', class: 'service-logo', alt: 'Dryad logo' %>
          </a>
        </li>
        <li id="ie-escholarship-logo">
          <a href="https://escholarship.org/">
            <%= image_tag 'logos/escholarship-logo.svg', class: 'service-logo', alt: 'eScholarship logo' %>
          </a>
        </li>
      </ul>
    </section>
  </main>
</div>
