<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag('main') %>
  <%= stylesheet_link_tag('home') %>

  <title>UC3 Merritt Home<% ": #{env_str}" unless env_str.blank? %></title>
</head>
<body>
<!-- Merritt monitoring test code. Please do not remove this comment since
it will cause the monitoring scripts to fail.

 - served at <%= Time.new %>

 - monitoring string SwuV4tac

-->
<header>
  <div class="masthead">
    <img class="ucop-logo" src="images/logos/ucop-logo.svg" alt="University of California"
         title="University of California"/>
    <img class="ucop-logo" src="images/logos/ucop-logo-divider.svg" alt="|"/>
    <img class="merritt-logo" src="images/logos/merritt-logo.svg" alt="Merritt" title="Merritt"/>
    <% "<h2>#{env_str}</h2>" unless env_str.blank? %>
  </div>
  <nav class="login">
    <% if user_logged_in? %>
      Logged in as <%= current_user_displayname %>
      <ul><li><%= link_to("Logout", controller: 'user_sessions', action: 'logout') %></li></ul>
    <% else %>
      <ul><li><%= link_to("Login", controller: 'user_sessions', action: 'login') %></li></ul>
    <% end %>
  </nav>
  <% if user_logged_in? %> <%# make this a partial %>
    <nav class="menu">
      <ul>
        <% if session[:group_id] %>
          <li><%= link_to('Collection home', controller: 'collection', action: 'index', group: session[:group_id]) %></li>
        <% else %>
          <li><%= link_to('Home', controller: 'home', action: 'choose_collection') %></li>
        <% end %>
        <% if current_user_can_write_to_collection? %>
          <li><%= link_to('Add object', controller: 'object', action: 'add', group: session[:group_id]) %></li>
        <% end %>
        <li>Change collection</li> <%# TODO: implement this (as mockup first) %>
      </ul>
    </nav>
  <% end %>
</header>

<main>
  <section class="intro">
    <div>
      <h1>
        <img class="merritt-logo" src="images/logos/merritt-logo.svg" alt="Merritt"
             title="Merritt"/>
      </h1>
      <h2>A trusted, cost-effective digital preservation repository</h2>
      <p>
        Merritt is an open-source digital preservation repository maintained by the University of
        California Curation Center (UC3) at the California Digital Library (CDL).
      </p>
      <p>
        Merritt is designed for both restricted access (also known as "dark archive") and open
        public
        access digital content. Merritt provides multiple methods for deposit, supports multiple
        metadata formats, and provides preservation functions and reporting both during submission
        and
        while content resides in the repository.
      </p>
      <p>
        Merritt is available to all members of the University of California community to assist in
        managing, archiving, and/or sharing digital content.
      </p>
    </div>

    <aside>
      <h3>
        Merritt’s preservation repository ensures:
      </h3>
      <ul>
        <li>
          Long-term preservation assurance for your digital content
        </li>
        <li>
          One system for both dark archival and retrieval copies of your digital assets
        </li>
        <li>
          Low-cost, high-quality option for meeting data sharing and preservation requirements of
          grant-funded projects
        </li>
      </ul>
    </aside>
  </section>

  <section class="feature">
    <h2>Learn More</h2>
    <p>
      Merritt can help you manage, preserve, and provide access to your digital content. Read more
      information about how Merritt works:
    </p>
    <ul>
      <li><a href="https://merritt.cdlib.org/docs/merritt_user_guide.pdf">User Guide</a></li>
      <li><a href="https://github.com/CDLUC3/mrt-doc/wiki/User-documentation">Help Center</a></li>
      <li><a href="https://github.com/CDLUC3/mrt-doc/wiki/Technical-Documentation">Technical
        Documentation</a></li>
    </ul>
  </section>

  <section class="feature">
    <h2>Request Account</h2>
    <p>
      Merritt is available for use by libraries, archives, museums, academic departments,
      laboratories, and other organizational units of the University of California.
    </p>
    <ul>
      <li><a href="https://www.cdlib.org/services/uc3/contact.html">Contact us for an account</a>.
      </li>
    </ul>
  </section>

  <section class="feature">
    <h2>Trusted Repository</h2>
    <!-- TODO: Link to Merritt certification PDF on coretrustseal.org -->
    <img class="cts-logo" src="images/logos/cts-logo.svg" alt="CoreTrustSeal"
         title="CoreTrustSeal"/>
    <p>Merritt is a CoreTrustSeal-certified digital repository.</p>
    <ul>
      <li><a href="https://www.coretrustseal.org/about/">Learn more about CoreTrustSeal
        certification</a>.
      </li>
    </ul>
  </section>

  <section class="related-services">
    <h2>Related CDL Services</h2>

    <p>
      Merritt serves as the preservation repository for many library and archival projects across
      the University of California. In addition, Merritt is also the back-end preservation
      repository for a number of services across UC, including those offered by the
      <a href="https://www.cdlib.org/">California Digital Library</a> and the
      <a href="https://www.cdlib.org/uc3/">UC Curation Center</a>.
    </p>

    <ul>
      <li>
        <a href="https://www.cdlib.org/uc3/"><img class="service-logo"
                                                  src="images/logos/uc3-logo.svg"
                                                  alt="UC Curation Center"
                                                  title="UC Curation Center"/></a>
      </li>
      <li>
        <a href="https://calisphere.org/"><img class="service-logo"
                                               src="images/logos/calisphere-logo.svg"
                                               alt="Calisphere" title="Calisphere"/></a>
      </li>
      <li>
        <a href="https://www.cdlib.org/"><img class="service-logo" src="images/logos/cdl-logo.svg"
                                              alt="California Digital Library"
                                              title="California Digital Library"/></a>
      </li>
      <li>
        <a href="https://ezid.cdlib.org/"><img class="service-logo" src="images/logos/ezid-logo.svg"
                                               alt="EZID"
                                               title="EZID"></a>
      </li>
      <li>
        <a href="https://dash.ucop.edu/"><img class="service-logo" src="images/logos/dash-logo.svg"
                                              alt="Dash"
                                              title="Dash"></a>
      </li>
      <li>
        <a href="https://escholarship.org/"><img class="service-logo"
                                                 src="images/logos/escholarship-logo.svg"
                                                 alt="eScholarship" title="eScholarship"></a>
      </li>
    </ul>
  </section>
</main>

<footer>
  <nav>
    <ul>
      <% if user_logged_in? %>
        Logged in as <%= current_user_displayname %>
        <li><%= link_to("Logout", :controller => 'user_sessions', :action => 'logout') %></li>
      <% else %>
        <li><%= link_to("Login", :controller => 'user_sessions', :action => 'login') %></li>
      <% end %>
      <li><a href="https://github.com/CDLUC3/mrt-doc/wiki/User-documentation">Help</a></li>
      <li><a href="https://www.cdlib.org/services/uc3/contact.html">Contact</a></li>
    </ul>
  </nav>

  <div class="publication-info">
    <p>
      Merritt is a collaborative project between your UC campus and the
      <a href="https://www.cdlib.org/">California Digital Library</a>.
    </p>
    <p>
      Copyright © 2018 The Regents of the University of California
    </p>
  </div>

  <nav>
    <ul>
      <li><a href="https://www.cdlib.org/about/terms.html">Terms of Use</a></li>
      <li><a href="https://www.cdlib.org/about/privacy.html">Privacy Policy</a></li>
      <li><a href="https://www.cdlib.org/about/accessibility.html">Accessibility Policy</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>

<%# content_for :title do %>
<!--  UC3 Merritt Home-->
<%# end %>

<!-- Merritt monitoring test code. Please do not remove this comment since
it will cause the monitoring scripts to fail.

 - served at <%= Time.new %>

 - monitoring string SwuV4tac

-->

<!--<div class="grid_16 home">-->
<!--<div class="clear"></div>-->

<!--<div class="grid_11">-->
<%#= render :partial => '/shared/flash_show' %>

<!--<p>Merritt is a new cost-effective repository service from the University of California Curation Center (UC3) that lets the UC community manage, archive, and share its valuable digital content.  Use Merritt to provide long-term preservation of digital assets, share your research with others or meet the data sharing and preservation requirements of a grant-funded project. </p>-->

<!--<p>Merritt is built upon a Micro-Services approach to digital curation based on devolving curation function into a set of independent, but interoperable, services that embody curation values and strategies. Since each of the services is small and self-contained, they are collectively easier to develop, deploy, maintain, and enhance.  This design approach is detailed in the <a href="https://confluence.ucop.edu/download/attachments/13860983/UC3-Foundations-latest.pdf?version=1" target="_blank">UC3 Curation Foundations</a> paper.</p>-->


<!--<h2>Learn more about Merritt:</h2>-->
<!--<ul>-->
<!--  <li><%#= link_to("Handout: Merritt Uses and FAQ", "/docs/merritt_handout.pdf") %></li>-->
<!--  <li><%#= link_to("Merritt User Guide", "/docs/merritt_user_guide.pdf") %></li>-->
<!--</ul>-->

<!--<h2>Need a Merritt Account?</h2>-->
<!--<p>Fill out the <a href="http://www.cdlib.org/services/uc3/contact.html">Contact UC3 form</a> or email <strong>uc3@ucop.edu</strong>.</p>-->

<!--<br />-->
<!--<br />-->
<!--<br />-->

<!--</div>-->
<!--<div class="grid_4">-->

<!--</div>-->
<!--</div>-->
