<% content_for :title do %>
  UC3 Merritt: Update Profile for <%= current_user.displayname %>
<% end %>

<main id="maincontent">
  <section>
    <h1>Update profile for <%= current_user.displayname %></h1>

    <div class="breadcrumbs">
      <%= link_to('Merritt', controller: 'home', action: 'index') %> &gt;
      Update profile for <%= current_user.displayname %>
    </div>

    <% unless @display_text.blank? %>
      <p class="error-message"><%= @display_text %></p>
    <% end %>

    <%= form_tag({action: :update}) do %>
      <table class="properties">
        <tbody>
        <tr>
          <th>First name:</th>
          <td><%= text_field_tag('givenname', @ldap_user['givenname'], :size => 30) %> *</td>
        </tr>
        <tr>
          <th><label for="sn">Last name:</label></th>
          <td><%= text_field_tag('sn', @ldap_user['sn'], :size => 30) %> *</td>
        </tr>
        <tr>
          <th><label for="userpassword">Password:</label></th>
          <td><%= password_field_tag('userpassword', '!unchanged', :size => 30) %> *</td>
        </tr>
        <tr>
          <th><label for="repeatuserpassword">Repeat Password:</label></th>
          <td><%= password_field_tag('repeatuserpassword', '!unchanged', :size => 30) %> *</td>
        </tr>
        <tr>
          <th><label for="mail">Email:</label></th>
          <td><%= text_field_tag('mail', @ldap_user['mail'], :size => 30) %> *</td>
        </tr>
        <%
          zones = TZInfo::Timezone
              .all_country_zone_identifiers
              .sort
              .map {|zone| [zone.gsub('_', ' '), zone]}
        %>
        <tr>
          <th><label for="tzregion">Time zone:</label></th>
          <td><%= select_tag('tzregion', options_for_select(zones, @ldap_user['tzregion'].first)) %></td>
        </tr>
        <tr>
          <th><label for="telephonenumber">Phone:</label></th>
          <td><%= text_field_tag('telephonenumber', @ldap_user['telephonenumber'], :size => 30) %></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2">* Required</td>
        </tr>
        </tfoot>
      </table>

      <div class="form-submit">
        <%= submit_tag %>
      </div>
    <% end # form_tag %>

  </section>
  <aside>
    <%= render(partial: '/shared/side_lookup') %>
  </aside>
</main>
