<section>
  <h3>Overview</h3>

  <table class="properties">
    <tbody>
    <tr>
      <th>object count:</th>
      <td id="object_count" class="value">calculating</td>
    </tr>
    <tr>
      <th>version count:</th>
      <td id="version_count" class="value">calculating</td>
    </tr>
    <tr>
      <th>file count:</th>
      <td id="file_count" class="value">calculating</td>
    </tr>
    <tr title="Collection size (of all versions)" class="pointer">
      <th>total size:</th>
      <td id="total_size" class="value">calculating</td>
    </tr>
    <tr title="Collection size (excluding duplicates)" class="pointer">
      <th>unique size:</th>
      <td id="billable_size" class="value">calculating</td>
    </tr>
    </tbody>
  </table>

  <%= javascript_tag do %>
    new Ajax.Updater({success : 'object_count'}, '/collection/object_count?group=<%= @request_group.id %>', { method:
    'get' });
    new Ajax.Updater({success : 'version_count'}, '/collection/version_count?group=<%= @request_group.id %>', { method:
    'get' });
    new Ajax.Updater({success : 'file_count'}, '/collection/file_count?group=<%= @request_group.id %>', { method: 'get'
    });
    new Ajax.Updater({success : 'total_size'}, '/collection/total_size?group=<%= @request_group.id %>', { method: 'get'
    });
    new Ajax.Updater({success : 'billable_size'}, '/collection/billable_size?group=<%= @request_group.id %>', { method: 'get'
    });
  <% end %>
</section>
