<div class="grid_12">
  <h2>Collection: <%= @group.description %></h2>
  <div class="breadcrumbs"><%=raw crumb_path(['merritt'])%>Collection: <%= @group.description %></div>
</div>
<div class="grid_4 sidebar">
  <h3>Search my collections</h3>
  <% form_tag({:controller => 'search', :action => 'by_id'}, :method => :get) do %>
    <%= text_field_tag 'id', 'enter primary id here' %>
    <%= submit_tag('Go') %>
  <% end %>

  <p>You can look up a known primary ID across all collections. Once you select
    a collection, you will be able to search by title, creator or local ID.
  </p>
  <h3 style="color:#cc0000;">Alert</h3>
</div>

