<% content_for :title do %>
  UC3 Merritt: Collection — <%= current_group.description %> — Search Results
<% end %>

<main id="maincontent">
  <section>
    <h2>Search Results</h2>

    <div class="breadcrumbs">
      <%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
      <%= link_to("Collection: #{@request_group.description}", :controller => 'collection', :action => 'index', :group => @request_group.id) %> &gt;
      Search Results
    </div>

    <% if @results && !@results.empty? %>
    <table class="main">
      <thead>
      <tr>
        <th style="width: 30%;">Primary Id</th>
        <th style="width: 20%;">Object info</th>
        <th style="width: 50%;text-align: right;">
          <%= will_paginate(@results) %>
        </th>
      </tr>
      </thead>
      <tbody>
      <%= render :partial => "/object/table_row", :collection => @results %>
      </tbody>
    </table>
    <% else %>
    <p>
      There were no items that had the text matching <strong><%=params[:terms]%></strong>.
    </p>
    <% end %>
  </section>

  <aside>
    <%= render :partial => '/shared/side_lookup' %>
  </aside>
</main>
