<% content_for :title do %>
  <%= @info[Mrt::Kernel.who] || "unkn" %>,
  <%= @info[Mrt::Kernel.what] || "unkn" %>
  (<%= @info[Mrt::Kernel.when] || "unkn" %>)
<% end %>

<% stored_object = @info[Mrt::Object['hasStoredObject']].first %>
<% versions = stored_object[Mrt::Object['versionSeq']].first.to_list %>
<div class="grid_16">
  <h2 id="page-heading"><%= render :partial=>'short_object', :object => @info %></h2>
</div>
<div class="grid_8">
  <div class="box">
    <h2>Information</h2>
    <div class="block">
      <dl>
        <dt>identifier</dt>
        <dd><%= stored_object[RDF::DC.identifier] %></dd>
        <dt>who</dt>
        <dd><%= @info[Mrt::Kernel.who] %></dd>
        <dt>what</dt>
        <dd><%= @info[Mrt::Kernel.what] %></dd>
        <dt>when</dt>
        <dd><%= @info[Mrt::Kernel.when] %></dd>
        <dt>last modified</dt>
        <dd><%= stored_object[RDF::DC.modified] %></dd>
        <dt>total files</dt>
        <dd><%= stored_object[Mrt::Object.numActualFiles] %></dd>
      </dl>
    </div>  
  </div>
</div>
<div class="grid_8">
  <div class="box">
    <h2>Versions</h2>
    <div class="block" id="accordion">
      <h3 class="toggler atStart">Current version (<%= versions.size %>)</h3>
      <div class="element atStart">
        <ul>
          <%= render :partial => 'file_info_maybe', :collection => versions[-1][Mrt::Version['hasFile']] %>
        </ul>
      </div>
      <% versions.each_index do |i| %>
      <%   if (i + 1) != versions.size %>
      <h3 class="toggler atStart">Version <%= i + 1 %></h3>
      <div class="element atStart">
        <ul>
        <%=  render :partial => 'file_info_maybe', :collection => versions[i][Mrt::Version['hasFile']] %>
        </ul>
      </div>
      <%   end %>
      <% end %>
    </div>
  </div>
</div>
