<% content_for :title do %>
  <%= @info[Mrt::Kernel.who] || "unkn" %>,
  <%= @info[Mrt::Kernel.what] || "unkn" %>
  (<%= @info[Mrt::Kernel.when] || "unkn" %>)
<% end %>

<% stored_object = @info[Mrt::Mrt['hasStoredObject']][0] %>
<% current = stored_object[Mrt::Mrt['currentVersion']][0] %>
<% versions = stored_object[RDF::DC['hasVersion']] %>
<div class="grid_16">
  <h2 id="page-heading"><%= render :partial=>'short_object', :object => @info %></h2>
</div>
<div class="grid_8">
  <div class="box">
    <h2>Information</h2>
    <div class="block">
      <dl>
        <dt>identifier</dt>
        <dd><%= stored_object[RDF::DC.identifier] %></dd>
        <dt>who</dt>
        <dd><%= @info[Mrt::Kernel.who] %></dd>
        <dt>what</dt>
        <dd><%= @info[Mrt::Kernel.what] %></dd>
        <dt>when</dt>
        <dd><%= @info[Mrt::Kernel.when] %></dd>
        <dt>last modified</dt>
        <dd><%= stored_object[RDF::DC.modified] %></dd>
        <dt>created</dt>
        <dd><%= stored_object[RDF::DC.created] %></dd>
        <dt>last access</dt>
        <dd><%= stored_object[Mrt::Mrt.lastAccess] %></dd>
        <dt>total size</dt>
        <dd><%= number_to_human_size(stored_object[Mrt::Mrt.totalSize][0].value) %></dd>
        <dt>total files</dt>
        <dd><%= stored_object[Mrt::Mrt.numActualFiles] %></dd>
      </dl>
    </div>  
  </div>
</div>
<div class="grid_8">
  <div class="box">
    <h2>Versions</h2>
    <div class="block" id="accordion">
      <h3 class="toggler atStart">Current version (<%= version_no(current.first(RDF::DC.identifier)) %>)</h3>
      <div class="element atStart">
        <ul>
        <%= render :partial => 'file_info_maybe', :collection => current[Mrt::Mrt['hasFile']] %>
        </ul>
      </div>
      <% versions.each do |version| %>
      <%   if version != current %>
      <h3 class="toggler atStart">Version <%= version_no(version.first(RDF::DC.identifier)) %></h3>
      <div class="element atStart">
        <ul>
        <%=  render :partial => 'file_info_maybe', :collection => version[Mrt::Mrt['hasFile']] %>
        </ul>
      </div>
      <%   end %>
      <% end %>
    </div>
  </div>
</div>
