  <div class="key">object primary identifier:</div>
  <div class="value"><%= details_display.inv_object.identifier %></div>

  <div class="key">permanent link:</div>
  <div class="value"><%= link_to(details_display.permalink, details_display.permalink) %></div>

  <div class="key">title:</div>
  <div class="value"><%= dc_nice(details_display.erc_what) %>&nbsp;</div>

  <div class="key">creator:</div>
  <div class="value"><%= dc_nice(details_display.erc_who) %>&nbsp;</div>

  <div class="key">date:</div>
  <div class="value"><%= dc_nice(details_display.erc_when) %>&nbsp;</div>

  <div class="key">local id:</div>
  <div class="value"><%= details_display.inv_object.local_identifier %>&nbsp;</div>

  <div class="key">version number:</div>
  <div class="value"><%= details_display.number %></div>

  <div class="key">version date:</div>
  <div class="value"><%= merritt_time(details_display.created) %></div>

  <div class="key">version size:</div>
  <div class="value"><%= number_to_storage_size(details_display.total_size)%></div>

  <div class="key">version files:</div>
  <div class="value"><%= details_display.inv_files.count %></div>

  <div class="clear"></div>
