<div class="files">
  <% if !files[0].nil? then %>
    <%# this is the same for every file and if we don't cache it here
        it will hit the db for every file %>
    <% version = files[0].inv_version %>
    <% version_id = version.to_param %>
    <% object = version.inv_object %>
    <% object_id = object.to_param %>
    <%# would be cleaner code if we had this check inside the
        file.each but it is slower for pages with many files %>
    <% can_download_object = has_object_permission?(object, 'download') %>
    <% files.each do |file| %>
      <%
        file_basename = File.basename(file.pathname)
        file_too_large = exceeds_download_size_file(file)
      %>
      <div class="key">
        <% if can_download_object && !file_too_large %>
          <%# not using link_to speeds this up %>
          <a href="/d/<%= object_id %>/<%= version_id %>/<%= file.to_param %>">
            <%= file_basename %>
          </a>
        <% else %>
          <%= file_basename %>
        <% end %>
      </div>
      <div class="value">
        <%= clean_mime_type(file.mime_type) %>
        <%= number_to_storage_size(file.full_size) %>
        <% if file_too_large %>
          <br/>&nbsp;(too large to download)
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="clear"></div>
