<%
  if files.any?
    # this is the same for every file and if we don't cache it here it will hit the db for every file
    version_id = @version.to_param
    object = @version.inv_object
    object_id = object.to_param

    # would be cleaner code if we had this check inside the file.each but it is slower for pages with many files
    can_download_object = current_user_can_download?(object)
    any_file_too_large = false
    last_dirname = nil
%>
  <%
    files.each do |file|
      any_file_too_large ||= file.exceeds_download_size?
     %>
    <%
      if file.dirname && (file.dirname != last_dirname)
        last_dirname = file.dirname
    %>
      <tr>
        <th colspan="3" class="table-subsection-header">
          <h4><%= file.dirname %>/</h4>
        </th>
      </tr>
    <% end %>
    <tr>
      <th>
        <% if can_download_object && !file.exceeds_download_size? %>
          <%# not using link_to speeds this up %>
          <a href="/d/<%= object_id %>/<%= version_id %>/<%= file.to_param %>">
            <%= file.basename %>
          </a>
        <% else %>
          <%= file.basename %>
        <% end %>
      </th>
      <td>
        <%= file.mime_type %>
      </td>
      <td style="width: 100%;">
        <%= file.size %>
      </td>
    </tr>
  <% end %>
  <% if any_file_too_large %>
    <tr>
      <td colspan="3">
        Files larger than <%= max_download_size_pretty %> cannot be downloaded.
        For access to large files, please
        <a href="http://www.cdlib.org/services/uc3/contact.html">contact UC3</a>.
      </td>
    </tr>
  <% end %>
<% end %>
