<%
  if files[0]
    # this is the same for every file and if we don't cache it here it will hit the db for every file
    version = files[0].inv_version
    version_id = version.to_param
    object = version.inv_object
    object_id = object.to_param

    # would be cleaner code if we had this check inside the file.each but it is slower for pages with many files
    can_download_object = current_user_can_download?(object)
    any_file_too_large = false
%>
    <%
      files.each do |file|
        file_basename = File.basename(file.pathname)
    %>
      <tr>
        <th class="files files_path">
          <span class="files_path" title='<%= file.pathname %>'>
            <div >
            <% if can_download_object %>
              <%= link_to file_basename, presigned_link_uri(object, version, file) %>
            <% else %>
              <%= file_basename %>
            <% end %>
            </div>
          </span>
        </th>
        <td class="files files_mime">
          <span class="files_mime" title="<%= clean_mime_type(file.mime_type) %>">
            <div>
              <%= clean_mime_type(file.mime_type) %>
            </div>
          </span>
        </td>
        <td class="files files_size">
          <span><%= number_to_storage_size(file.full_size) %></span>
        </td>
        <td class="files files_checksum">
          <span title='file checksum: <%= file.digest_value %>' class='digest'>
            <div>
              <%= file.digest_value %>
            </div>
          </span>
        </td>
      </tr>
    <%
      end
      %>
<% end %>
