<div class="files">
  <% if !files[0].nil? then %>
    <%# this is the same for every file and if we don't cache it here
        it will hit the db for every file %>
    <% version = files[0].inv_version %>
    <% version_id = version.to_param %>
    <% object = version.inv_object %>
    <% object_id = object.to_param %>
    <%# would be cleaner code if we had this check inside the
        file.each but it is slower for pages with many files %>
    <% can_download_object = current_user_can_download?(object) %>
    <% any_file_too_large = false %>
    <% files.each do |file| %>
      <%
        file_basename = File.basename(file.pathname)
        file_too_large = file.exceeds_download_size?
        if file_too_large
          any_file_too_large = true
        end
      %>
      <div class="key">
        <% if can_download_object && !file_too_large %>
          <%# not using link_to speeds this up %>
          <a href="/d/<%= object_id %>/<%= version_id %>/<%= file.to_param %>">
            <%= file_basename %>
          </a>
        <% else %>
          <%= file_basename %>
        <% end %>
      </div>
      <div class="value">
        <%= clean_mime_type(file.mime_type) %>
        <%= number_to_storage_size(file.full_size) %>
      </div>
    <% end %>
    <% if any_file_too_large %>
      <div class="key">&nbsp;</div>
      <div class="value">&nbsp;</div>
      <div class="key">&nbsp;</div>
      <div class="value">
        Files larger than <%= max_download_size_pretty %> cannot be downloaded.
        For access to large files, please
        <a href="http://www.cdlib.org/services/uc3/contact.html">contact UC3</a>.
      </div>
    <% end %>
  <% end %>
</div>
<div class="clear"></div>
