<% content_for :title do %>
  UC3 Merritt: Version — <%= @version.inv_object.ark %>, Version <%= @version.number %>
<% end %>

<main id="maincontent">
  <section>
    <h1>
      <span class='key'><%= @version.inv_object.ark %> — Version <%= @version.number %></span>:
      <span class="timestamp"><%= merritt_time(@version.created) %></span>
    </h1>

    <div class="breadcrumbs">
      <%= link_to('Merritt', controller: 'home', action: 'index') %> &gt;
      <%= link_to(
              "Collection: #{@version.inv_object.group.description}",
              controller: 'collection',
              group: @version.inv_object.group.id,
              action: 'index'
          ) %> &gt;
      <%= link_to(
              "Object: #{@version.inv_object.ark}",
              controller: 'object',
              action: 'index',
              object: @version.inv_object
          ) %> &gt;
      Version <%= @version.number %>
    </div>

    <%= render :partial => '/shared/flash_show' %>

    <h2 class="object-title">
      <%= render :partial => "/object/short_bib_display", :object => @version.inv_object %>
    </h2>
    <%= render :partial => '/version/details_display', :object => @version %>

    <h3>User Files</h3>
    <table class="properties files_properties producer_files_properties">
      <tbody>
      <%= render :partial => '/version/files', :locals => {:files => @version.producer_files.quickload_files} %>
      </tbody>
    </table>
    <h3>System Files</h3>
    <table class="properties files_properties system_files_properties">
      <tbody>
      <%= render :partial => '/version/files', :locals => {:files => @version.system_files.quickload_files} %>
      </tbody>
    </table>

    <div class="form-submit">
      <% if current_user_can_download?(@version.inv_object) %>
        <% if @version.exceeds_download_size? %>
          <p>
            Versions larger than <%= max_download_size_pretty %> cannot be downloaded as a .zip file. 
            However, individual files larger than that size can still be downloaded.
          </p>
        <% else %>
          <%= form_tag({action: :presign, :object => @version.inv_object, :version => @version}, remote: true, method: 'GET', id: 'button_presign_obj', dataType: 'json') do %>
            <%= submit_tag "Download version", onClick: "return presignDialogs.assemblyTokenList.checkToken()" %>
          <% end %>
        <% end %>
      <% else %>
        <p>
          You do not have permission to download this object.
        </p>
      <% end %>
    </div>
  </section>

  <aside>
    <%= render :partial => '/shared/side_lookup' %><br/>
    <section>
      <h3>All Versions</h3>
      <%= render :partial => 'line_sidebar',
                 :collection => @version.inv_object.inv_versions.reverse,
                 :locals => {:can_download => current_user_can_download?(@version.inv_object)} %>
    </section>
  </aside>
</main>
