<% content_for :title do %>
  UC3 Merritt: Version -- <%= @version.inv_object.identifier %>, Version <%= @version.identifier %>
<% end %>

<div class="grid_11">
  <h2>
    <%= @version.inv_object.identifier %> - 
    Version <%= @version.identifier %>:
    <%= merritt_time(@version.created)%>
  </h2>
  <div class="breadcrumbs">
    <%= link_to('Merritt', :controller => 'home', :action => 'index') %> &gt;
    <%= link_to("Collection: #{@group.description}", 
                :controller => 'collection',
                :group => @group.id,
                :action => 'index') %> &gt;
    <%= link_to("Object: #{@version.inv_object.identifier}", 
                :controller => 'object', 
                :action => 'index',
                :object => @version.inv_object) %> &gt;
    Version <%= @version.identifier %>
  </div>
  <br/>
  <%= render :partial => '/shared/flash_show' %>

  <br/>
  <h3 style="font-weight: normal;">
    <%= render :partial => "/object/short_bib_display", 
               :locals => {:obj => @version.inv_object} %>
  </h3>

  <%= render :partial => '/version/details_display', :object => @version %>
  <div class="clear"></div>

  <h3>User Files</h3>
  <%= render :partial => '/version/files', :locals => {:files => @version.producer_files } %>
  <h3>System Files</h3>
  <%= render :partial => '/version/files', :locals => {:files => @version.system_files } %>

  <div class="key">&nbsp;</div><div class="value">&nbsp;</div>
  <div class="key">&nbsp;</div>
<% if have_permission('download') then %>
  <div class="value">
    <form action="<%= url_for(:action=>:download, :object=> @version.inv_object, :version => @version.identifier) %>">
      <input type="submit" value="Download version">
    </form>
  </div>
<% end %>
</div>
<div class="grid_1">&nbsp;</div>
<div class="grid_4 sidebar">
  <%= render :partial => '/shared/side_lookup' %><br/>
  <h3>All Versions</h3>
  <%= render :partial => 'line_sidebar', :collection => @version.inv_object.versions.reverse %>
  <br/>
</div>
