<div class="grid_10">
  <h1>Login</h1>
  <%= render :partial => '/shared/flash_show' %>
  <%= form_for @user_session, :url => login_post_path do |f| %>
  <% f.error_messages %>
  <div class="left_label">
    <%= f.label :login %>
  </div>
  <div class="right_field">
    <%= f.text_field :login %>
  </div>
  <div class="right_field" style="width:50px;">
    <%= f.submit "Login" %>
  </div>
  <div class="clear"></div>
  <div class="left_label">
    <%= f.label :password %>
  </div>
  <div class="right_field">
    <%= f.password_field :password %><br />
  </div>
  <div class="clear"></div>
  <div class="left_label">&nbsp;</div>
  <div class="right_field">
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
  </div>
  <div class="clear"></div>
    <% end %>
  <div style="width:200px;height:100px;">&nbsp;</div>
 </div>
