<div class="container_16">
  <div class="grid_5"><br/></div>
  <div class="grid_6">
    <div class="box">
      <div class="block">
        <p><%= flash[:notice] %></p>
        <h1>Login</h1>
        <%= form_for @user_session, :url => login_post_path do |f| %>
        <% f.error_messages %>
        <%= f.label :login %><br />
        <%= f.text_field :login %><br />
        <br />
        <%= f.label :password %><br />
        <%= f.password_field :password %><br />
        <br />
        <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
        <br />
        <%= f.submit "Login" %>
        <% end %>
        <p>New? <%= link_to "Register", new_account_url %>,</p>
      </div>
    </div>
  </div>
</div>
