<% content_for :title do %>
UC3 Merritt Login
<% end %>

<main>
  <section>
    <h2>Login</h2>

    <%= render :partial => '/shared/flash_show' %>

    <table class="properties">
      <tbody>
      <%= form_tag({action: 'guest_login'}) do %>
      <tr>
        <th class="table-section-header" colspan="3"><h3>Guest login</h3></th>
      </tr>
      <tr>
        <td colspan="2"><label for="submit_guest">Login as guest for read-only access</label></td>
        <td><%= submit_tag('Guest', {tabindex: 1, id: 'submit_guest'}) %></td>
      </tr>
      <% end %>

      <%= form_tag({action: 'login_post'}) do %>
        <tr>
          <th class="table-section-header" colspan="3"><h3>User login</h3></th>
        </tr>
      <tr>
        <th><label for="login">Username</label></th>
        <td><%= text_field_tag('login', params[:login], {tabindex: 2}) %></td>
        <td><%= submit_tag('Login', {tabindex: 4, id: 'submit_login'}) %></td>
      </tr>
        <tr>
          <th><label for="password">Password</label></th>
          <td><%= password_field_tag('password', params[:password], {tabindex: 2}) %></td>
          <td><a href="http://www.cdlib.org/services/uc3/contact.html">Request a User Account</a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>

  <aside>
    <%= render :partial => 'shared/help_sidebar' %>
  </aside>
</main>
