<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css", media: "all" %>

  <%= csrf_meta_tag %>

  <%= yield :extra_head %>

  <title><%= yield :title %><%= ": #{env_str}" unless env_str.blank? %></title>
</head>
<body>
<%= render(partial: '/shared/header') %>
<%= yield %>
<%= render(partial: '/shared/footer') %>
</body>
</html>
