<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% #this layout chooses display elements based on which data elements are present so it acts 'smart'
%>
<html>
  <head>
    <title><%= yield :title %><%=(show_environment ? ": #{show_environment}" : '')%></title>
    <%= stylesheet_link_tag 'reset', 'text', '960', 'main_styles', 'menu',
                            :cache=>"most" %>
    <%= stylesheet_link_tag 'print', :media =>"print" %>
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->

    <%= javascript_include_tag :all, :cache=>'all' %>
    
    <%= csrf_meta_tag %>
    <%= yield :extra_head %>
  </head>
  <body>
    <div class="container_16">
      <% if !session[:uid].blank? then %>
        <% if session[:group_id].blank? then %>
          <%= render :partial => "shared/no_collection_head" %>
        <% else %>
          <%= render :partial => "shared/collection_head" %>
        <% end %>
      <% else %>
        <%= render :partial => "shared/unlogged_head" %>
      <% end %>
      <%= yield %>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
