<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag('main') %>
  <%= stylesheet_link_tag('main', media: "print") %>
  <%= stylesheet_link_tag('print', media: "print") %>

  <%= javascript_include_tag "effects", "controls", "dragdrop", "protofish", "prototype", "rails" %>

  <%= csrf_meta_tag %>
  <%= yield :extra_head %>

  <title><%= yield :title %><%= ": #{env_str}" unless env_str.blank? %></title>
</head>
<body>
<%= render(partial: '/shared/header') %>
<%= yield %>
<%= render(partial: '/shared/footer') %>
</body>
</html>
