<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'text' %>
    <%= stylesheet_link_tag '960' %>
    <%= stylesheet_link_tag 'main_styles' %>
    <%= stylesheet_link_tag 'print', :media =>"print" %>

    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_16">
      <%= render :partial => "shared/unlogged_head" %>
      <%= yield %>
      <%= render :partial => "shared/footer" %>
      <%= javascript_include_tag :all %>

    </div>
  </body>
</html>
