<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag 'reset', 'text', '960', 'main_styles', 'menu' :cache=>"most" %>
    <%= stylesheet_link_tag 'print', :media =>"print" %>
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->

    <%= javascript_include_tag :all, :cache=>'all' %>
    
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_16">
      <%= render :partial => "shared/no_collection_head" %>
      <%= yield %>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
